<!-- <p style="color: green"><%= notice %></p> -->

<h1 class="row justify-content-md-center mt-4">Listing all questions</h1>
<div class="row justify-content-md-center">
  <div class="flickr_pagination col-2 mt-4 ">
    <%= will_paginate @questions, :container => false %>
  </div>
</div>

 <div class="container">
  <% @questions.each do |question| %>
    <%= render question %>
  <% end %>
  </div>
</div> 

<div class="row justify-content-md-center">
  <div class="flickr_pagination col-2 mt-4 mb-4 ">
    <%= will_paginate @questions, :container => false %>
  </div>
</div>