<div id="home">
  <div class="jumbotron justify-content-md-center">
    <h1 class="display-4 ">Have a question ?</h1>
    <p class="lead ">
     Get your answer is a platform where you can post your questions and get answers from other users
    </p>
    <p class="lead">
         <%= link_to "Sign up", new_user_registration_path %>
    </p>
  </div>
</div>
